{% block content%}
<div class="container" style="margin-bottom: 20px;">
	<h2 style="color: grey;">Features List</h2>
	<div class="container scrollbox">
		<a href="#" onclick=" ">
			<div class="row row1">
		  			<div class="col-md-3 ">
						<div class="list_form_box scroll">
							<div class="list_form ">
								<div class="list_form_icon">
									<span class="glyphicon glyphicon-pencil "></span>
								</div>
								<div class="list_form_text">
									<strong>Chat</strong>
								</div>
							</div>
						</div>
					</div>
	  		
					<div class="col-md-3">
						<div class="list_form_box scroll">
							<div class="list_form">
								<div class="list_form_icon" >
									<span class="glyphicon glyphicon-bullhorn"></span>
								</div>
								<div class="list_form_text">
									<strong>Play Quiz</strong>
								</div>
							</div>
						</div>
					</div>
				
					<div class="col-md-3">
						<div class="list_form_box scroll">
							<div class="list_form">
								<div class="list_form_icon" >
									<span class="glyphicon glyphicon-sunglasses"></span>
								</div>
								<div class="list_form_text">
									<strong>Fashion</strong>
								</div>
							</div>
						</div>
					</div>

				<div class="col-md-3">
					<div class="list_form_box scroll">
						<div class="list_form">
							<div class="list_form_icon" >
								<span class="glyphicon glyphicon-pencil"></span>
							</div>
							<div class="list_form_text">
								<strong>Chat</strong>
							</div>
						</div>
					</div>
				</div>
			</div>	
		</a>

		<a href="#" onclick=" ">
				<div class="row row2" unloadScrollBars() >
		  			<div class="col-md-3">
						<div class="list_form_box scroll">
							<div class="list_form ">
								<div class="list_form_icon">
									<span class="glyphicon glyphicon-pencil "></span>
								</div>
								<div class="list_form_text">
									<strong>Chat</strong>
								</div>
							</div>
						</div>
					</div>
	  	
					<div class="col-md-3">
						<div class="list_form_box scroll">
							<div class="list_form">
								<div class="list_form_icon" >
									<span class="glyphicon glyphicon-bullhorn"></span>
								</div>
								<div class="list_form_text">
									<strong>Play Quiz</strong>
								</div>
							</div>
						</div>
					</div>
				
					<div class="col-md-3">
						<div class="list_form_box scroll">
							<div class="list_form">
								<div class="list_form_icon" >
									<span class="glyphicon glyphicon-sunglasses"></span>
								</div>
								<div class="list_form_text">
									<strong>Fashion</strong>
								</div>
							</div>
						</div>
					</div>

				<div class="col-md-3">
					<div class="list_form_box scroll">
						<div class="list_form">
							<div class="list_form_icon" >
								<span class="glyphicon glyphicon-pencil"></span>
							</div>
							<div class="list_form_text">
								<strong>Chat</strong>
							</div>
						</div>
					</div>
				</div>
			</div>	
		</a>

		</div>
	</div>
</div>
</div>
{% endblock %}